## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Cockburn Town,TC,84.16,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
1,9,Balykshi,KZ,80.60,scattered clouds,47.0667,51.8667,Гостиница Golden Rose
2,15,Estelle,US,86.05,broken clouds,29.8458,-90.1067,Ohio
3,45,Narasannapeta,IN,86.09,few clouds,18.4167,84.0500,G.lingaraju home
4,51,Butaritari,KI,82.24,light rain,3.0707,172.7902,Isles Sunset Lodge

In [45]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}, {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [46]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Agua Prieta")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Agua Prieta")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Chino Valley")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Saint George")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Pahrump")]
vacation_start

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
81,519,Agua Prieta,MX,81.34,broken clouds,31.3,-109.5667,Hotel Real de Agua Prieta

In [48]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start=vacation_start[["Lat","Lng"]].to_numpy()
end=vacation_end[["Lat","Lng"]].to_numpy()
stop1=vacation_stop1[["Lat","Lng"]].to_numpy()
stop2=vacation_stop2[["Lat","Lng"]].to_numpy()
stop3=vacation_stop3[["Lat","Lng"]].to_numpy()

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig=gmaps.figure()
#Create the directions layer
trip_path=gmaps.directions_layer(start[0],end[0],waypoints=(stop1[0],stop2[0],stop3[0]),travel_mode="DRIVING")
#Add layer to figure
fig.add_layer(trip_path)
#Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,519,Agua Prieta,MX,81.34,broken clouds,31.3000,-109.5667,Hotel Real de Agua Prieta
1,282,Chino Valley,US,81.82,clear sky,34.7575,-112.4538,Primrose Inn & Suites
2,146,Saint George,US,89.35,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
3,297,Pahrump,US,89.31,scattered clouds,36.2083,-115.9839,Best Western Pahrump Oasis

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}, {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))